/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

	body {
	font-family: 'Indie Flower', cursive;
	}
	

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
		
	}

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}

	body {
	font-family: 'Indie Flower', cursive;
	}
	
	.container p {
	line-height: 100px;
	text-align: left;
	color: #680148;
	
	}
	
	
	#content {
	margin: 60px 0 60px 0;
	}
	#header {
	background: #E0EFF1;
	}
	#footer {
	margin: 10px 0 10px 0;
	background: #E0EFF1;
	}
	#buscar {
	margin: 20px 0 0 0;
	}
	.wrapper {  
    width: 100%;  
    height: 50px;  
    background : #7DB4B5;  
    background : -webkit-gradient(linear, left top, left bottombottom, from(rgb(125,180,181)), to(rgb(224,239,241)));  
    background : -moz-linear-gradient(top, rgb(125,180,181), rgb(224,239,241));  
    border-top: 2px solid #939393;  
    position: relative;  
    
}  
ul {
    margin: 0;
    padding: 0;
}

ul.menu {
    height: 50px;
    border-left: 1px solid rgba(0,0,0,0.3);
    border-right: 1px solid rgba(255,255,255,0.3);
    float:left;
}

ul.menu li {
    list-style: none;
    float:left;
    height: 49px;
    text-align: center;
    background: -webkit-gradient(radial, 50% 100%, 10, 50% 50%, 90, from(rgba(125,180,181,1)), to(rgba(224,239,241, 1)) );
    background: -moz-radial-gradient(center 80px 45deg, circle cover, rgba(125,180,181,1) 0%, rgba(224,239,241, 1) 100%);
    }

ul li a {
    display: block;
    padding: 0 20px;
    border-left: 1px solid rgba(255,255,255,0.1);
    border-right: 1px solid rgba(0,0,0,0.1);
    text-align: center;
    line-height: 79px;
    background : -webkit-gradient(linear, left top, left bottom, from(rgb(125,180,181)), to(rgb(224,239,241)));
    background : -moz-linear-gradient(top, rgb(125,180,181), rgb(224,239,241));
    -webkit-transition-property: background;
    -webkit-transition-duration: 700ms;
    -moz-transition-property: background;
    -moz-transition-duration: 700ms;
    }

ul li a:hover {
    background: transparent none;
}

ul li.active a{
    background: -webkit-gradient(radial, 50% 100%, 10, 50% 50%, 90, from(rgba(31,169,244,1)), to(rgba(0,28,78, 1)) );
    background: -moz-radial-gradient(center 80px 45deg, circle cover, rgba(31,169,244,1) 0%, rgba(0,28,78, 1) 100%);
}
	
/** 
 * Slideshow style rules.
 */
#slideshow {
	margin:0 auto;
	width:640px;
	height:263px;
	background:transparent url(img/bg_slideshow.jpg) no-repeat 0 0;
	position:relative;
}
#slideshow #slidesContainer {
  margin:0 auto;
  width:560px;
  height:263px;
  overflow:auto; /* allow scrollbar */
  position:relative;
}
#slideshow #slidesContainer .slide {
  margin:0 auto;
  width:540px; /* reduce by 20 pixels of #slidesContainer to avoid horizontal scroll */
  height:263px;
}

/** 
 * Slideshow controls style rules.
 */
.control {
  display:block;
  width:39px;
  height:263px;
  text-indent:-10000px;
  position:absolute;
  cursor: pointer;
}
#leftControl {
  top:0;
  left:0;
  background:transparent url(../img/control_left2.png) no-repeat 0 0;
}
#rightControl {
  top:0;
  right:0;
  background:transparent url(../img/control_right2.png) no-repeat 0 0;
}

/** 
 * Style rules for Demo page
 */
* {
  margin:0;
  padding:0;
  font:normal 11px Verdana, Geneva, sans-serif;
  color:#ccc;
}
a {
  color: #fff;
  font-weight:bold;
  text-decoration:none;
}
a:hover {
  text-decoration:underline;
}

#pageContainer {
  margin:0 auto;
  width:960px;
}
#pageContainer h1 {
  display:block;
  width:960px;
  height:114px;
  background:transparent url(../img/bg_pagecontainer_h1.jpg) no-repeat top left;
  text-indent: -10000px;
}
.slide h2, .slide p {
  margin:15px;
}
.slide h2 {
  font:italic 24px Georgia, "Times New Roman", Times, serif;
  color:#680148;
  letter-spacing:-1px;
}
.slide img {
  float:right;
  margin:0 15px;
}

